.filter-container {
   display: flex;
   flex-flow: column;
}

.filter-container-row {
   display: flex;
   flex-flow: row;
   justify-content: 'flex-start';
   align-items: 'flex-start';
   align-content: 'space-between';
   margin-bottom: 0.5%;
}

.filter-container-row:last-child {
   margin-bottom: 1.5%;
}

.filter-item {
   width: 25%;
   flex: 0 1 auto;
   align-self: auto;
   margin-left: 1%;
}

.filter-item:first-child {
   margin-left: 0
}

.submit-button {
   display: flex;
   align-items: flex-end;
   margin-bottom: 4px;
   margin-left: 1%;
}
