.container {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: white;
  overflow-y: hidden;
}

.roster-container {
  margin-top: 1%;
}

.Spreadsheet td {
  white-space: pre;
}
