.filter-container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: space-between;
}

.filter-item {
   width: 25%;
   order: 0;
   flex: 0 1 auto;
   align-self: auto;
   margin-left: 1%;
}

.submit-button {
   width: 10%;
   order: 0;
   flex: 0 1 auto;
   align-self: center;
   margin-left: 1%;
   margin-top: 30px;
}

.filter-item:first-child {
   margin-left: 0;
}
